.search-form{
    background-color: #EFEFEF !important;
    border-radius: 10px;
    min-width: 290px;
    margin-left: -20px
}
.search-fields{
    padding: 10px;
}
.search-btn{
    font-size: 15px !important;
}
.logo{
    width: 50px;
    
}
.fare-card{
    background-color: white;
    margin: 8px 0px;
    border-radius: 10px;
}
.fare-details{
    padding: 10px;
    align-items: center;
}