.home{
    padding: 120px 0px;
}
.home-title{
    text-align: center;
    font-weight: 800;
    margin-bottom: 43px;
}
.vehicles{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
    align-items: center;
}