*{
  font-family: 'Montserrat', sans-serif;
  
}
.main{
  background-image: url("https://image.freepik.com/free-vector/modern-city-skyline-background_77417-791.jpg");
  background-position:center;
  background-repeat: no-repeat;
  background-size:cover;
  min-height: 100vh;
}