*{
  font-family: 'Montserrat', sans-serif;
  
}
.main{
  background-image: url("https://i.postimg.cc/gjFsNy3q/Bg.png");
  background-position:center;
  background-repeat: no-repeat;
  background-size:cover;
  min-height: 100vh;
}